body{
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.semaforo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: black;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    width: 200px;
}

.luz-roja {
    background: red;
    opacity: 1;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.luz-amarilla {
    background: yellow;
    opacity: 1;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.luz-verde {
    background: green;
    opacity: 1;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.luz-roja.active {
    box-shadow: 0 0 40px 15px red;
}

.luz-amarilla.active {
    box-shadow: 0 0 40px 15px yellow;
}

.luz-verde.active {
    box-shadow: 0 0 40px 15px green;
}